# Server Ports
PORT=5000
NODE_ENV=development
CLIENT_URL=http://localhost:5173

MONGO_URI=mongodb+srv://stores:V35g9hY9DPRxwORM@cluster0.eagm2k2.mongodb.net/online_store

# JWT Secret
JWT_SECRET=your_jwt_secret_here

# Stripe Payments (get these from dashboard.stripe.com)
STRIPE_SECRET_KEY=your_stripe_secret_key
STRIPE_PUBLISHABLE_KEY=your_stripe_publishable_key

# Cloudinary Storage Configuration
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret

# Nodemailer Settings (Leave empty for fallback Ethereal test emails)
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
SMTP_SECURE=false
FROM_EMAIL="MERN Shop" <noreply@mernshop.com>
